<section class="tech flex flex-row items-center justify-center gap-8 p-8 text-white">
    <div class="text-center border-2 border-[#F0D338] rounded-lg p-4">
        <h3>Frontend</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript / TypeScript</li>
            <li>React</li>
            <li>Astro</li>
            <li>UX/UI</li>
        </ul>
    </div>
    <div class="text-center border-2 border-[#F0D338] rounded-lg p-4">
        <h3>Backend</h3>
        <ul>
            <li>Node.js</li>
            <li>Python</li>
            <li>MongoDB</li>
            <li>SQL</li>
        </ul>
    </div>
    <div class="text-center border-2 border-[#F0D338] rounded-lg p-4">
        <h3 class="text-white">Metodologías</h3>
        <ul>
            <li>Agile</li>
            <li>Scrum</li>
            <li>CI/CD</li>
        </ul>
    </div>
    <div class="text-center border-2 border-[#F0D338] rounded-lg p-4">
        <h3>Herramientas</h3>
        <ul>
            <li>Git</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
            <li>Figma</li>
        </ul>
</section>